*{
  padding: 0;
  margin:0;
}
html{
  background-color: #e0e0eb;
  overflow-y: hidden;
  overflow-x: hidden;
}
body{

}
.header
{
  position: absolute;
  top: 5%;
  left: 47%;
  justify-content: center;
  align-items: center;
}
.overlay{
  background-color: #aa21ff;
  width: 35%;
  min-height: 65%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  /* position the div in center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-image: linear-gradient(to bottom right, #ffc2b3, #ffffb3);
  10px 10px 8px #888888;
}
